@model AirlineTicketsReservation.Models.ViewModels.EditAeroplaniRequest;
@{
}
<div class=" bg-opacity-10 py-2 text-center">
     <h1>Edit Aeroplani</h1>
</div>

<div class="container py-5">
    @if (Model != null)
    {
        <form method="post">

            <div class="mb-3">
                <label class="form-label">Id</label>
                <input type="text" class="form-control" id="id" asp-for="Id" readonly />
            </div>

            <div class="mb-3">
                <label class="form-label">Numri i Uleseve VIP</label>
                <input type="text" class="form-control" id="heading" asp-for="Nr_Uleseve_VIP" required />
            </div>

            <div class="mb-3">
                <label class="form-label">Numri i Uleseve Biznes</label>
                <input type="text" class="form-control" id="pageTitle" asp-for="Nr_Uleseve_Biznes" required />
            </div>


            <div class="mb-3">
                <label class="form-label">Numri i Uleseve Ekonomike</label>
                <input type="text" class="form-control" id="pageTitle" asp-for="Nr_Uleseve_Ekonomike" required />
            </div>

            <div class="mb-3">
                <label class="form-label">Kompania</label>
                <input type="text" class="form-control" id="shortDescription" asp-for="Kompania" required />
            </div>


            <div class="mb-3 d-flex">
                <button type="submit" class="btn btn-dark">Update</button>

                <button type="submit"
                        class="btn btn-danger ms-2"
                        asp-area=""
                        asp-controller="Aeroplani"
                        asp-action="Delete">
                    Delete
                </button>
            </div>

        </form>
    }

    else
    {
        <p>No airplane found!</p>

    }


</div>
